* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1vw;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

.header1 {
    font-size: .7rem;
}

.header1 span {
    font-size: .7rem;
    color: #ED3897;
}

.top-icon {
    top: -1px;
    width: 1.7rem;
    height: 0.6rem;
    color: #FFFFFF;
    font-size: .5rem;
    left: 1rem;
    border-radius: 18%;
    background-color: #E83647;
}

.top-icon1 {
    top: -1px;
    width: 1.7rem;
    height: 0.6rem;
    color: #FFFFFF;
    left: 3.3rem;
    font-size: .5rem;
    border-radius: 18%;
    background-color: #E83647;
}

a.nav-link {
    display: flex;
    justify-content: center;
    font-size: .7rem;
    font-family: "Poppins", sans-serif;
    color: #212121;
}

.banner img {
    width: 100%;
    height: auto;
    padding: 0 4rem 0;
}

.main-1 {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
}

.space1 {
    padding: 0 4.8rem;
}

.Home {
    font-size: .7rem;
    color: #797979;
    align-self: baseline;
}

.form-select {
    font-size: .7rem;
    color: #797979;
}

.sizeMain {
    padding: 0 4rem 0;
}

.sizesBtns {
    padding: .3rem .5rem;
    font-size: .8rem;
    color: #212121;
    background-color: #FFFFFF;
    border: 1px solid #707070;
    font-weight: 600;
}

.hrline {
    width: 100%;
    border: 1.5px solid black;
}

.all-top {
    padding: 0 4rem 0;
}

.CheckSearchBar {
    font-size: .8rem;
    padding: 0 1rem;
}

.form-check-label {
    font-size: .8rem;
}

.prices {
    color: #797979;
}

.checkBoxes {
    height: 20rem;
    width: auto;
    overflow-y: scroll;
}

.checkBoxes::-webkit-scrollbar {
    display: none;
}

#Gold.form-check-input {
    background-color: gold;
}

#Blush.form-check-input {
    background-color: #FFB7DE;
}

#Red.form-check-input {
    background-color: red;
}

#black.form-check-input {
    background-color: black;
}

#Green.form-check-input {
    background-color: green;
}

#Grey.form-check-input {
    background-color: gray;
}

#Yellow.form-check-input {
    background-color: yellow;
}

#Aqua.form-check-input {
    background-color: aqua;
}

#Orange.form-check-input {
    background-color: orange;
}

#Pink.form-check-input {
    background-color: pink;
}

#Modcloth3.form-check-input {
    background-color: magenta;
}

#Camera3.form-check-input {
    background-color: blueviolet;
}

#Laptop3.form-check-input {
    background-color: skyblue;
}

#Redmi3.form-check-input {
    background-color: salmon;
}

.minipriceInput input,
.maxpriceInput input {
    width: 7rem;
}

#slider {
    width: 100%;
    margin-left: .4rem;
    cursor: pointer;
}

.maxPrice span,
.miniPrice span {
    align-self: end;
}

.imagesContainer {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
}

.cards img {
    width: 82%;
    height: 82%;
    object-fit: cover;
}

.cardTxt h6 {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: .5rem 0 0 0;
}

.cardTxt p {
    font-size: .7rem;
    padding: 0 6rem 0 0;
    margin: 0;
    color: #797979;
}

.currentPrice {
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.previousPrice {
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #C2C2C2;
}

.Discount {
    width: 4rem;
    padding: .3rem .7rem;
    background-color: #E83647;
    font-size: .6rem;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.textsize li {
    font-size: .8rem;
}

.form-control {
    font-size: .8rem;
}

.btn {
    font-size: .8rem;
    color: #FFFFFF;
    background-color: black;
}

.tdtext {
    font-size: .7rem;
}

.textName {
    font-size: .8rem;
}